@use '../abstracts/variables' as *;

// Hero section
.home-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $light;

  &__bg-image-col {
    grid-column: span 1;
    max-height: 650px;
    height: 48vw;
    background-image: url('/images/panel.jpg');
    background-position: center;
    background-size: cover;

    @media (max-width: $laptop) {
      grid-column: span 2;
      height: 65vw;
    }
  }

  &__text-col {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;

    @media (max-width: $laptop) {
      grid-column: span 2;
      padding: 5rem 0;
      align-items: center;
      text-align: center;
    }
  }

  &__text-container {
    padding: 10px;
    display: flex;
    max-width: 440px;
    flex-wrap: wrap;

    @media (max-width: $laptop) {
      justify-content: center;
    }
  }

  &__heading {}

  &__text {}
}

// Container for contact form/contact info section
.home-container-2-col-stack {
  display: grid;
  max-width: $container-max-width;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  &__col {
    grid-column: span 1;

    @media (max-width: $laptop) {
      grid-column: span 2;
    }
  }
}

// Contact info classes
.home-contact-title {
  display: block;
  font-weight: bold
}

.home-contact-text {
  display: block;
  margin-bottom: 30px;
}

// Contact form
.home-contact-form {
  &__label {
    display: block;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 4px;
    border: 1px solid;
    border-color: gray;
    margin-bottom: 16px;
  }

  &__textarea {
    @extend .home-contact-form__input;
    min-height: 200px;
  }
}