@use '../abstracts/variables' as *;

.container {
  display: block;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 10px;
}

.container-fluid {
  @extend .container;
  max-width: 100%;
}