@use '../abstracts/' as *;

.layout-default {
  display: grid;
  grid-template-columns: 1fr;

  header {
    grid-column: span 1;
  }

  main {
    grid-column: span 1;
  }

  footer {
    grid-column: span 1;
  }
}