@use '../abstracts/' as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;

  @media (max-width: $laptop) {
    height: 108px;
  }

  &__logo {
    width: 164px;

    @media (max-width: $laptop) {
      width: 130px;
    }
  }
}