// Defaults
$container-max-width: 1290px;

// Break points
$laptop: 1024px;
$tablet: 900px;
$mobile: 500px;

// Colors
$light: #EDEDED;
$primary-color-text: #232222;
$footer-color-text: gray;
$button-color: #BC282E;
$button-color-hover: #bc282df3;
$button-text-color: #FFF;

// Fonts
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";